small{
    display: none;
}

small.show-error,
small.sho-error{
    display: block;
    padding: 10px;
    font-size: 15px;
    color: #fcf2f2;
    font-weight: bolder;
    background-color: #e44944;
}
