.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-wrapper{
    width: 50%;
    min-height: 50%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

h2{
    height: 30%;
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 10px;
    border-bottom: 2px solid #e5e5e5;
}

form{
    gap: 20px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-field{
    gap: 10px;
    width: 100%;
    height: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #d8dbdf;
}

input::placeholder{
    color: #c5c1c1;
}

input:focus{
    border: 1px solid slategray;
}

.buttons{
    gap: 10px;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 5px 5px 10px 5px;
    justify-content: flex-end;
}

#cancel-button,
#search-button{
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 25px;
    font-weight: bolder;
    border-radius: 10px;
}

#cancel-button{
    color: #4b4f56;
    background-color: #e4e6eb;
}

#search-button{
    color: white;
    background-color: #1877f2;
}

#search-button:hover{
    background-color: #1876f2de;
}

small{
    width: 100%;
}

@media screen and (max-width: 1150px) {
    .inner-wrapper{
        width: 95%;
    }
}
