@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

:root{
    --font: 'Quicksand';
    --wrong-font-color: #e44944;
    --timer-text-color: whitesmoke;
    --common-background-color: #4398b5;
    --questions-options-font-color: black;
    --error-message-font-color: whitesmoke;
    --submit-button-font-color: whitesmoke;
    --obtained-marks-font-color: whitesmoke;
    --common-div-background-color: whitesmoke;
    --obtained-marks-background-color: #af0404;
    --checked-questions-font-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    box-sizing: border-box;
}

.timer{
    top: 0;
    width: 20%;
    padding: 20px;
    position: sticky;
    border-radius: 12px;
    background-color: var(--common-background-color);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#timer-text{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: var(--font);
    color: var(--timer-text-color);
}

.QuestionContainer,
.QuestionAnotherContainer{
    gap: 20px;
    width: 100%;
    display: flex;
    padding-top: 25px;
    min-height: 100px;
    align-items: center;
    flex-direction: column;
    background-color: var(--common-background-color);
    box-shadow: inset rgba(0, 0, 0, 0.31) 0px 3px 8px;
}

.Questions{
    width: 65%;
    height: 30%;
    display: flex;
    justify-content: center;
    background-color: var(--common-div-background-color);
    box-shadow: -21px 40px 45px 0px rgba(15,130,130,1);
}

.question-number,
.question-title{
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    font-family: var(--font);
    padding: 20px 20px 0px 20px;
    color: var(--questions-options-font-color);
    background-color: var(--common-div-background-color);
}

.question-details{
    width: 100%;
}

.question-number{
    width: 8%;
}

.Question{
    display: flex;
    justify-content: space-between;
}

.alt-flag{
    padding: 20px 20px 0px 20px;
}

.options{
    gap: 10px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.choice{
    width: 60%;
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--questions-options-font-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.choice label{
    display: flex;
    font-size: 20px;
    font-family: var(--font);
    padding: 15px 15px 15px 10px;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 3em;
    margin-left: 5px;
}

input[type=radio],
label{
    cursor: pointer;
}

label{
    width: 100%;
}

.error-message{
    width: 60%;
    display: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: var(--font);
    color: var(--error-message-font-color);
    background-color: var(--wrong-font-color);
}

.show-error-message{
    display: block;
}

#submit-button{
    width: 15%;
    border: none;
    outline: none;
    padding: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: var(--font);
    background-color: rgb(51, 0, 99);
    color: var(--submit-button-font-color);

}

.choice.wrong-div{
    background-color: var(--wrong-font-color);
    color: var(--checked-questions-font-color);
}

.choice.correct-div{
    background-color: darkcyan;
    color: var(--checked-questions-font-color);
}

.radio-choices:disabled{
    cursor: not-allowed;
}

.marks{
    left:20px;
    top: 20px;
    width: 125px;
    height: 125px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: rotate(-15deg);
    color: var(--obtained-marks-font-color);
    background-color: var(--obtained-marks-background-color);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hide-marks{
    display: none;
}

.obtained-marks{
    cursor: default;
    font-size: 45px;
}

.total-marks{
    cursor: default;
    font-size: 45px;
    border-top: 5px solid var(--obtained-marks-font-color);
}

#read-only-form{
    margin-bottom: 50px;
}

p.no-answer{
    width: 60%;
    padding: 10px;
    color: #cf0000;
    font-size: 1.5rem;
    border: 2px dashed #cf0000;
    font-family: var(--global-font);
}

@media screen and (max-width: 600px) {
    .QuestionContainer{
        overflow: hidden;
    }

    .QuestionAnotherContainer{
        margin-top: 0px;
    }

    .Questions{
        width: 90%
    }

    .choice{
        width: 100%;
    }

    p.question-title,
    label.option-labels{
        font-size: 15px;
    }

    p.question-number{
        font-size: 15px;
        width: fit-content;
        padding: 20px 0 0 5px;
    }

    .marks{
        top: 2px;
        width: 40px;
        height: 40px;
        padding: 25px;
    }

    .obtained-marks{
        font-size: 15px;
    }

    .total-marks{
        font-size: 15px;
        border-top: 2px solid var(--obtained-marks-font-color)
    }

    .timer{
        width: fit-content;
    }

    #timer-text{
        font-size: 30px;
    }

    #submit-button{
        width: 50%;
    }

    .go-to-top{
        overflow: hidden;
    }

    .error-message{
        width: 100%;
    }
}
