.wrapper{
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
}


form{
    gap: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.password-div{
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}

.bxs-lock-alt{
    left: 3px;
    position: absolute;
}

.pass-eye1,
.pass-eye2{
    right: 3px;
    display: none;
    cursor: pointer;
    position: absolute;
    font-size: 1rem;
}

input{
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 15px 25px 15px 20px;
    font-family: var(--global-font);
}

.submit-button{
    width: 80%;
}

button{
    border: 0;
    width: 35%;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bolder;
    font-family: var(--global-font);
    background-color: rgb(117, 0, 163);
}


button:hover{
    background-color: rgb(138, 0, 192)
}

small.show-error{
    width: 80%;
}

i.show-eye{
    display: flex;
}

@media screen and (max-width: 600px) {
    form{
        width: 100%;
    }

    .password-div,
    .submit-button{
        width: 95%;
    }

    button{
        width: fit-content;
    }
}
