.success-message-container{
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-success-message{
    padding-top: 30px;
}

.success-message:nth-child(2){
    padding-bottom: 30px;
}

.success-message{
    width: 50%;
    font-size: 27px;
    color: whitesmoke;
    font-family: var(--global-font);
}

@media screen and (max-width: 1000px) {
    .success-message{
        width: 80%;
        font-size: 22px;
    }

    .success-message:nth-child(2){
        padding-bottom: 20px;
    }
}
