{% extends 'admin/nav.html' %}
{% load static %}

{% block content %}

    <script src="{% static 'js/admin/changePassword.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/admin/change-password.css' %}">

    <div class="input-groups">
        <form onsubmit="return changePassword();" action="#" method="POST">
            {% csrf_token %}

            {% for placeholder, name in data.items %}
                <div class="input-group">
                    <div class="password-div">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password" placeholder="{{placeholder}}" name="{{name}}">
                        <i class='bx bxs-hide pass-eye {{name}}_eye hide-eye'></i>
                    </div>

                    <small class="{{name}}_error">This field must not be empty</small>
                </div>
            {% endfor %}

            <input type="submit" value="Change Password">
        </form>
    </div>

{% endblock %}
