{% extends 'admin/nav.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/admin/programme.css' %}">

    <div class="wrapper">
        {% for programme in data %}
            <div class="inner-wrapper">
                <div class="inner-wrapper-left">
                    <p>{{programme.Name}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/admin/resize-div-height.js' %}"></script>

{% endblock %}
