{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'js/FindAccount.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link rel="stylesheet" href="{% static 'css/FindAccount.css' %}">

    <div class="wrapper">
        <div class="inner-wrapper">
            <h2>Find Your Account</h2>

            <form action="{% url 'password_reset_done' %}" method="post">
                {% csrf_token %}
                <div class="email-field">
                    <input type="text" placeholder="Enter email" name="email">
                    <small class="error-message"></small>
                </div>

                <div class="buttons">
                    <a id="cancel-button" href="{% url 'login' %}">Cancel</a>
                    <button id="search-button" type="submit" onclick="return validateForm()">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
