{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">

        {% if results %}
            {% for result in results %}
            <a href="{% url 'detailed-history' result.Slug %}" class="each-history">
                <div class="history">
                    <div class="marks-left-container">
                        <p id="programme">{{result.Program}}</p>
                        <p id="date">{{result.Date}}</p>
                    </div>

                    <div class="marks-right-container">
                        <p class="obtained-marks">{{result.mark}}</p>
                        <p class="total-marks">100</p>
                    </div>
                </div>
            </a>
            {% endfor %}

            <div class="jump-to-next-page">
                {% include 'JumpToNextPage.html' %}

                <style>
                    .jump-to-page{
                        padding: 0;
                        margin: 0;
                    }
                </style>
            </div>

        {% else %}
            <p class="no-records">You have no records to display</p>
        {% endif %}

{% endblock %}
