{% extends 'nav.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/scroll.css' %}">
<link rel="stylesheet" href="{% static 'css/error-message.css' %}">

{% for message in messages %}
    {% if message %}
        <p class="show-success-feedback-message">{{message}}</p>
    {% endif %}
{% endfor %}

    {{message}}

<div class="quote">
    <p>
        "Believe in yourself and all that you are. Know that there is something inside you that is greater than any obstacle."
    </p>
    <img src="{% static 'images/index/index-main.svg' %}">
</div>

<div class="welcome">
    <p>
        Online Entrance Preparation provides a convenient and accessible approach to prepare for a wide range of entrance exams from the comfort of your home. It caters to individuals aspiring to secure admission in esteemed universities, specialized programs, or competitive job positions. With the flexibility to study at one's own pace and according to personal schedules, online entrance preparation empowers learners to achieve their goals. It offers comprehensive resources, interactive study materials, and practice tests, ensuring a well-rounded preparation. By embracing this flexible and efficient method, individuals can confidently navigate their path towards success in entrance exams.
    </p>

    <img src="{% static 'images/index/welcome-image.png' %}">
</div>

<div class="contact">
    <div class="contact-left">
        <p>Contact</p>
        <img src="{%static 'images/index/contact.jpg' %}" id="contact-image">
    </div>

    <div class="contact-right">
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}

            <div class="contact-form-item">
                <input type="Name" placeholder="Your Name" id="contact-name" name="contact-name" value="{% if user.is_authenticated %}{{user.FullName}}{% endif %}">

                <div class="error">
                    <small class="name-error"></small>
                </div>
            </div>

            <div class="contact-form-item">
                <input type="email" placeholder="Your Email" id="contact-email" name="contact-email" value="{% if user.is_authenticated %}{{user.email}}{% endif %}">

                <div class="error">
                    <small class="email-error"></small>
                </div>
            </div>

            <div class="contact-form-item">
                <textarea placeholder="Message" rows="20" id="contact-message" name="contact-message"></textarea>

                <div class="error">
                    <small class="message-error"></small>
                </div>
            </div>

            <div class="contact-form-item">
                <button class="send-msg"  type="submit" onclick="return validateFeedBackForm()">Send</button>
            </div>
        </form>
    </div>
</div>

</div>
<a href="#" class="go-to-top">
    <i class='bx bx-up-arrow-alt up-arrow'></i>
</a>

<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/feedback.js' %}"></script>

{% endblock %}
