{% extends 'nav.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="form-left login-left-image">
            </div>

            <div class="form-right">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}

                    <div class="form-item text-input-groups">
                        <i class='bx bxs-user bx-login' ></i>
                        <input type="text" placeholder="Email" id="email", name="email">
                        <small class="email-error"></small>
                    </div>

                    <div class="form-item text-input-groups">
                        <i class='bx bxs-lock-alt bx-login' ></i>
                        <input type="password" placeholder="Password" id="password" name="new_password1">
                        <i class='bx bxs-hide bxs-show pass-eye1'></i>

                        {% if messages %}
                            {% for message in messages %}
                                <small class="password-error show-error">
                                    {{message}}
                                </small>
                            {% endfor %}

                        {% else %}
                            <small class="password-error"></small>
                        {% endif %}
                    </div>

                    <div class="form-item remember-me">
                        <div class="remember-me-left">
                            <input type="checkbox" id="remember-me", name="remember-me">
                            <label for="remember-me">Remember Me</label>
                        </div>

                        <div class="remember-me-right">
                            <a href="{% url 'reset_password' %}">Recovery Password</a>
                        </div>
                    </div>

                    <div class="form-item submit-btn login-submit-btn">
                        <button onclick="return validateForm()" type="submit">Sign In</button>
                    </div>

                    <div class="form-item create-account">
                        <p>Don't have an account?</p>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/togglePassword.js' %}"></script>

{% endblock %}
