{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link rel="stylesheet" href="{% static 'css/NewPassword.css' %}">

    <div class="wrapper">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="password-div">
                <i class='bx bxs-lock-alt' ></i>
                <input type="password" placeholder="New Password" name="new_password1">
                <i class='bx bxs-hide bxs-show pass-eye1'></i>
            </div>

            <div class="password-div">
                <i class='bx bxs-lock-alt' ></i>
                <input type="password" placeholder="New Password Again" name="new_password2">
                <i class='bx bxs-hide bxs-show pass-eye2'></i>
            </div>

            <small></small>

            <div class="submit-button">
                <button type="submit" onclick="return validatePassword()">Change Password</button>
            </div>

        </form>
    </div>

    <script src="{% static 'js/NewPassword.js' %}"></script>
    <script src="{% static 'js/togglePassword.js' %}"></script>

{% endblock %}
