{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/ReportQuestion.css' %}">
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <div class="outer-container">
        <form action="" method="POST">
            {% csrf_token %}

            {% include 'success-message.html' %}

            <div class="row first-row">
                <p id="row-id">{{data.id}}</p>
            </div>

            <div class="row second-row">
                <p>{{data.title}}</p>
            </div>

            <div class="row third-row">
                {% if data.editable %}
                    <div class="options">
                        {% for option in data.options %}
                            <p>{{option}}</p>
                        {% endfor %}
                    </div>

                    <textarea placeholder="What's your issue ? Issue must have at least 50 words" name="message" id="message" cols="40" rows="15"></textarea>

                {% else %}
                    <textarea name="message" id="message" class='reported' cols="40" rows="15">{{data.Message}}</textarea>

                {% endif %}
                <small class="error-message"></small>
            </div>

            <script src="{% static 'js/ReportQuestion.js' %}"></script>

            {% if data.editable %}
                <button onclick="return validateForm()" class="not-reported">Report</button>

            {% else%}
                <button class="reported">Reported</button>

            {% endif %}

        </form>
    </div>

{% endblock %}
