{% extends 'nav.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/ResetPasswordSent.css' %}">

    <div class="success-message-container">
        <p class="first-success-message success-message">
            An email has been sent to the registered email address associated with your account, containing instructions on how to reset your password. Please follow the steps outlined in the email to regain access to your account. <br>
        </p>
        <p class="success-message">
            If you do not receive the email within the next few minutes, please check your spam or junk folders, as it might have been mistakenly filtered. Also, ensure that you have entered the correct email address or contact our support team for further assistance.
        </p>
    </div>

{% endblock %}
