.inner-wrapper-left{
    width: 100%;
}

#feedback-email,
#feedback-name{
    font-size: 14px;
}

#feedback-date{
    font-size: 12px;
}

#feedback-msg{
    font-size: 20px;
    font-weight: 600;
}

.wrapper{
    flex-direction: column;
}

.inner-wrapper{
    width: 70%;
}

@media screen and (max-width: 600px) {
    .inner-wrapper{
        width: 90%;
    }
}
