.right-container{
    height: 100%;
    background-color: #f8fafc;
}

.wrapper{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
    text-decoration: none;
    justify-content: center;
}

.inner-wrapper{
    width: 30%;
    height: 150px;
    padding: 10px;
    display: flex;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    justify-content: space-around;
    transition: all ease-out 250ms;
}

.inner-wrapper:hover{
    border: 1px solid #d7d7d7;
    box-shadow: #d7d7d7 0px 3px 6px, #d7d7d7 0px 3px 6px;
}

.wrapper a:nth-child(1){
    margin-left: 5px;
}

.inner-wrapper:visited,
.inner-wrapper{
    color: black;
}

.inner-wrapper-left{
    gap: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-wrapper-left p{
    font-family: var(--global-font)
}

.inner-wrapper-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-wrapper-right img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

input{
    font-size: 0.875rem;
}

.no-data{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    font-family: var(--global-font);
}

@media screen and (max-width: 600px) {
    .wrapper{
        flex-direction: column;
    }

    .inner-wrapper{
        width: 90%;
    }

    .id-row p{
        font-size: 0.875rem;
    }
}
