@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

:root{
    --font: 'M PLUS 1p', sans-serif;
}

.container{
    gap: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 50%;
    display: flex;
    /* min-height: 70vh; */
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            radial-gradient(at 77% 83%, rgba(247,19,210,0.31) 0%, transparent 62.583%, rgba(175,28,206,0.32) 100%) 87% 89%/143% 117%,
            linear-gradient(350deg, #7d0aee 0%, #ed03ea 21.094%, #870aed 100%);
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box;
}

.login-image{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/admin/icon.png');
}

label{
    font-size: 20px;
    font-family: var(--font);
}

form{
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.input-groups{
    gap: 5px;
    height: 20%;
    display: flex;
    flex-direction: column;
}

input{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 3px;
    font-family: var(--font);
    border: 1px solid black;
}

button{
    border: 0;
    width: 50%;
    padding: 15px;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    font-family: var(--font);
    background-color: black;
}

@media screen and (max-width: 600px) {
    .container{
        height: 80vh;
    }
    .login-image{
        width: 150px;
        height: 150px
    }

    .form-container{
        width: 100%;
        flex-direction: column;
    }

    form{
        width: 95%;
    }
}
