.wrapper{
    flex-direction: column;
}

.inner-wrapper{
    gap: 20px;
    width: 70%;
    flex-direction: column;
}

.inner-wrapper-left{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.inner-wrapper-left p{
    font-size: small;
}

.inner-wrapper-right{
    gap: 10px;
    width: 100%;
    align-items: normal;
    justify-content: left;
    flex-direction: column;
}

.inner-wrapper-right-question{
    font-weight: 600;
    font-size: larger;
}

.inner-wrapper-right-options{
    padding-left: 17px;
}

.question-option{
    font-weight: 200;
    font-size: 16px;
}

.correct-answer{
    font-size: 16px;
    font-weight: 800;
    color: rgb(43, 184, 0);
}

.question-programme,
.question-subject{
    font-weight: 200;
}

p,
li{
    font-family: var(--global-font);
}

@media screen and (max-width: 600px) {
    .inner-wrapper{
        width: 90%;
    }
}
