.side-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #504099;
}

a{
    text-decoration: none;
}

.side-bar-option p{
    font-size: large;
    font-weight: 200;
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--global-font);
}

.side-bar-option{
    margin: 5px 0 5px 5px;
    gap: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.side-bar-option i{
    font-size: large;
    color: whitesmoke;
}

.selected-side-bar-option{
    background-color: white;
}

.selected-side-bar-option p,
.selected-side-bar-option i{
    color: black;
    font-weight: 600;
}

a.selected-side-bar-option{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

@media screen and (max-width: 600px) {
    .side-bar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        flex-direction: row;
        border-end-end-radius: 0;
        background-color: #504099;
        justify-content: space-around;
    }

    .side-bar-option{
        gap: 0;
        padding: 10px;
    }

    .side-bar-option i,
    .side-bar-option p{
        font-size: 15px;
    }

    a.selected-side-bar-option{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
